<div class="container">
    <div class="details">
      <app-title title="Se connecter"></app-title>
  
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <text-input
        [control]="fc.email"
        [showErrorwhen]="isSubmited "
        type="email"
        label="Email"
        ></text-input> 
         <text-input
        [control]="fc.password"
        [showErrorwhen]="isSubmited "
        type="password"
        label="Mot de passe"
        ></text-input>   

     <default-button text="Se connecter"></default-button>
  
     <div class="Register">
      Nouvel utilisateur? &nbsp;
      <a routerLink="/register" [queryParams]="{returnURL: returnURL }">
        Inscrivez-vous ici
      </a>
    </div>
      </form>
    </div>
  </div>