<div class="container">
  <h1>A propos de MARIMEX</h1>
  <h3>MARIMEX est une société tunisienne spécialisée dans la vente et la commercialisation <br> des outils et matériels pour la marbrerie. </h3>
</div>
<div class="all_items" id="all_items">
  <div class="gallery">
    <div class="slider">
      <div class="gallery-item" *ngFor="let image of images; let i = index" [class.active]="currentIndex === i">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
  
  
    <div class="slider">
      <div class="gallery-item" *ngFor="let image of images; let i = index" [class.active]="currentIndex+2 === i">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
  
  
    <div class="slider">
      <div class="gallery-item" *ngFor="let image of images; let i = index" [class.active]="currentIndex+4 === i">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
   
    
  </div>
  
  
  
</div>
