
<app-not-found   [visibale]="!marble"
 resetLinkText="go to Homepage" >

</app-not-found>
<div *ngIf="marble" class="container">
  <img [src]="marble.imageurl" [alt]="marble.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{marble.name}}
      </span>
      <span class="favorite {{marble.favorite? '': 'not'}}">❤</span>
    </div>
   

    <div class="descriptions">
      <span *ngFor="let origin of marble.descriptions">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of marble.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    

   
   
   
 <button (click)="addToCart()">Ajouter au panier</button>

  </div>
</div>
