<div class="container">
    <div class="details">
     <app-title title="Registre"></app-title> 
     <form [formGroup]="RegisterForm" (ngSubmit)="submit()">
      <text-input
      [control]="fc.name"
      [showErrorwhen]="isSubmited"
      label="Nom">
    `</text-input>
        <text-input
        [control]="fc.email"
        [showErrorwhen]="isSubmited "
        type="email"
        label="Email"
        ></text-input> 
         <text-input
        [control]="fc.password"
        [showErrorwhen]="isSubmited "
        type="password"
        label="Mot de passe"
        ></text-input>  
        <text-input
        [control]="fc.ConfirmPassword"
        [showErrorwhen]="isSubmited "
        type="password"
        label="Confirmez le mot de passe"
        ></text-input>    

     <default-button text="Registre"></default-button>
  <div class="Login">
    Déjà utilisateur ? &nbsp;
    <a routerLink="/login" [queryParams]="{returnURL: returnURL }">
      Connectez-vous ici
    </a>
  </div>
   
      </form>
    </div>
</div>