<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="Contact_Form">
  
  <div class="container" id="Contact_Us">
    <div class="details">
      <app-title title="Contact"></app-title> 

        <form [formGroup]="mailForm" (ngSubmit)="submit()" method="POST" >
      <text-input 
      [control]="fc.name"
      [showErrorwhen]="isSubmited"
      label="Votre Nom">
    `</text-input>
        <text-input
        [control]="fc.email"
        [showErrorwhen]="isSubmited "
        type="email"
        label="Votre Email"
        ></text-input> 
         <text-input
        [control]="fc.message"
        [showErrorwhen]="isSubmited "
        type="textarea"
        label="Message"
        ></text-input>  
    

     <default-button text="ENVOYER" ></default-button>

   
      </form>
    </div>
</div>

    <div class="info">
      <h2><i class="fas fa-map-marker-alt"></i> Trouvez nous</h2>
      <p>Société MARIMEX, 6 Rue de Grenadine - Route de Raoued, 2056 Ariana, Tunisie</p>
      <p>Société MARIMEX, NABEUL- Route dar chaabene el fehri cités des métiers</p>


      <h2><i class="fas fa-phone"></i> Appelez nous</h2>
      <p>Hichem Beddouda<br>(+216) 99707714<br></p>
        <p>Issam Karoui <br>(+216) 99349328<br></p>
        <p>Lundi - Samedi, 9:00-17:00</p>

      <h2><i class="fas fa-envelope"></i> Envoyez votre demande</h2>
      <p><a href="mailto:ste@marimex.tn">ste.marimex@gmail.com</a><br>
        <a href="mailto:Commercial3marimex@gmail.com">Commercial3marimex@gmail.com</a>
    </div>
 
    
    <div class="map-container">
      <iframe src="https://www.google.com/maps/d/embed?mid=1-MKQqBqUL6sabOqKP_oDpqJkKB-W9Wg&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>    </div>
    
 
</div>