<app-title title="PANIER" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found   [visibale]="!cart ||!cart.items.length"
message="cart page is empty" resetLinkText="go to Homepage" >

</app-not-found>
<div *ngIf="cart && cart.items.length " class="container">
<ul>
  <li *ngFor="let cartItem of cart.items">
    <div>
      <img [src]="cartItem.marbel.imageurl" [alt]="cartItem.marbel.name">
    </div>
    <div>
      <a routerLink="/marble/{{cartItem.marbel.id}}">
        {{cartItem.marbel.name}}
      </a>
    </div>
    <div>
      <select #quantitySelect
      [value]="cartItem.quantity"
      (change)="changeQuantity(cartItem, quantitySelect.value)"><!--fi kol mata tetbade el quantity yetbadel howa-->
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
  
    <div>
      <button class="remove-button" (click)="removeFromCart(cartItem)">
        Retirer
      </button>
    </div>
  </li>
</ul>
<div class="checkout">
  <div>
    <div class="marbels-count">{{cart.totalCount}}</div>
  </div>

  <a href="tel:+21670319848" class="phone-link">
    <i class="fas fa-phone phone-icon"></i>
    99 707 714
  </a>
</div>
</div>