header{
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
  }
  
  a{
    color: #af1313;
  }
  
  a:hover{
    background:#e72929;
    color: white;
    cursor: pointer;
  }
  
  .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
 
  
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  ul a{
    padding: 1rem;
    display: inline-block;
  }
  
  a span{
    background: #ff4d4d;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
  }
  
  .menu-container{
    position: relative;
  }
  
  .menu{
    position:absolute;
    z-index:1;
    background:whitesmoke;
    display: none;
  }
  
  .menu-container:hover .menu{
    display: block;
  }
  
  .menu a{
    width: 100%;
    min-width:8rem;
  }
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underlines from the link */
    color:  #e72929; /* Set the text color for the logo */
    font-weight: bold; /* Add some boldness to the text */
  }
  .logo img {
    width:5em; /* Adjust the width of the logo image */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-right: 10px; /* Add some spacing between the image and text */
  }
  .logo:hover{
    background:whitesmoke;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .logo img {
      width: 5em; /* Adjust the width of the logo image */
      height: auto; /* Maintain the aspect ratio of the image */
      margin-right: 10px; /* Add some spacing between the image and text */
    }
    /* Adjust styles for smaller screens */
   
  
    ul a {
      font-size:0.8rem; /* Smaller font size for nav links */
      padding: 0.4rem;
    }
  
    a span.phone-number {
      font-size: 0.8rem; /* Smaller font size for phone number */
      padding: 0.1rem 0.1rem;
    }
     .container {
    justify-content: space-between; /* Align items to the left */
     /* Add horizontal padding to container */
  }
  }
 
  